@charset "utf-8";
body {
	width: 100%;
	padding: 0;
	height: 100%;
}
header {
	width: 100%;
	height: 20%;
	position: relative;
}
.masthead img {
	float: left;
	height: 100px;
	width: auto;
	left: 10px;
}
.masthead h1 {
	position: absolute;
	top: 18px;
	left: 600px;
}
#top {
	overflow: hidden;
	background-color: black;
	color: #3399CC;
	font-style: normal;
	font-weight: 600;
}
#logo {
	border: none;
	position: absolute;
	right: 0px;
	height: 80%;
	width: auto;
	top: 10%;
	left: 5%;
	min-height: 100px;
}
.mainNav ul {
	list-style-type: none;
	margin-top: 100px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#mainNav a {
	width: 15%;
	display: block;
	float: left;
	text-align: justify;
	text-transform: uppercase;
	background-color: black;
	color: #F5F5F5;
	padding-top: 6px;
	padding-bottom: 6px;
}
#sidebar ul {
	width: 35%;
	margin-right: 5%;
	float: right;
}
#mainArticle {
	position: absolute;
	max-width: 850px;
	right: 5%;
	float: left;
}
#footer {
	position: absolute;
	bottom: 18px;
	left: 10px;
}